@import "tailwindcss";
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

:root {
  /* --background: #0d1117; */
  --background: #111111;
  /* --foreground: #832232; */
  --foreground: #f2efea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #f2efea;
    /* --foreground: #c41e3a; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Montserrat Alternates", sans-serif; */
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
}

/* Custom selection color */
::selection {
  background-color: #b64f60; /* Change to any color you prefer */
  color: white; /* Optional: change text color */
}

.transition-max-height {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}
